#   fty-srr configuration

server
    timeout = 60000     #   Client connection timeout, msec
    background = 0      #   Run as background process
    workdir = .         #   Working directory for daemon
    verbose = 0         #   Do verbose logging of activity?

srr-msg-bus
    endpoint = ipc://@/malamute             #   Malamute endpoint
    address =  fty-srr                      #   Agent address
    srrQueueName = ETN.Q.IPMCORE.SRR        # Srr queue name for all incoming request.


srr  
    version = 2.0 # Srr version.
    enableReboot = true # Enable/disable reboot after restore
